{% extends "base_template.html" %}

{% block content %}
    <section class="container-sm">
        <article class="mb-4">
            <h2>Co je to FitApp?</h2>
            <p>FitApp (
                <mark>Fit</mark>
                ness
                <mark>App</mark>
                lication
                ) je minimalistická webová aplikace pro lidi, kteří vedou aktivní životní styl a chtějí si zaznamenávat
                své
                pokroky.
            </p>
        </article>

        <article class="mb-4">
            <h2>Co vše umí?</h2>
            <p>FitApp je skutečně minimální aplikace a disponuje tedy pouze nejzákladnějšími funkcemi</p>
            <ul>
                <li>Uchování tělesných atribut (hmotnost a výška)</li>
                <li>Výpočet BMI</li>
                <li>Záznam tréninků</li>
                <li>Záznam cviků</li>
                <li>Poskytování statistik v přehledné formě</li>
                <li>Sdílení statistiky s ostatními</li>
            </ul>
        </article>

        <article class="mb-4">
            <h2>Co se děje pod kapotou?</h2>
            <p>Aplikace je tzv. <em>open-source</em>, což znamená, že si sami můžete prostudovat zdrojový kód aplikace a
                to
                jak se chová. Dalé je možné přispět kódem do aplikace, takže se uživatelé mohou podílet na hledání chyb
                v
                systému, či přidávání nových funkcí. Zdrojový kód je k dispizici v <a
                        href="https://bitbucket.org/FilipJust/fitapp-web/">repozitáři na bitbucket</a></p>
        </article>
    </section>
{% endblock %}